<% breadcrumb :cms_dynamic_panel_edit, dynamic_panel %>
<h1 class="cms-header"><i class="material-icons">star_rate</i> EDIT DYNAMIC PANEL - <%= dynamic_panel.title.upcase %></h1>

<%= render 'cms/dynamic_panels/partials/form' %>
